
# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual Environment
# -------------------------
venv/

# -------------------------
# Logs
# -------------------------
logs/
*.log

# -------------------------
# Runtime Data
# -------------------------
vault/
*.wav
config/device_config.json

# -------------------------
# Large Models
# -------------------------
*.gguf

# -------------------------
# OS Junk
# -------------------------
.DS_Store
Thumbs.db