# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Runtime / Device Data
# =========================
vault/
models/
*.wav
*.gguf

# =========================
# Environment / Secrets
# =========================
.env
.env.*

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db
